<% title ["红宝石网，您身边的企业信息化解决专家"].join(' - ') %>
<% meta_keywords ["成都红宝石企业信息化策划专家"].join(' - ') %>
<% meta_description ["成都红宝石企业网站建设专家，开发团队具有多年互联网从业经验，团队为企业提供策划、开发、推广、运维一站式服务！联系电话：15928661802"].join(' - ') %>


<div class="Ucontainer">
	<div class="row1 transparent">A-1: 290*382</div>
	<div class="row2 transparent">
	  <%=render :partial => 'layouts/slider_teachers', :locals => {:css => 'slider_teacher_1'} %>
	</div>
	<div class="row2 transparent">C-2: 190*190</div>
	<div class="row3 transparent" style="width: 286px;">D-3: 286*190</div>
	<div class="row2 transparent">
	  <%=render :partial => 'layouts/slider_teachers', :locals => {:css => 'slider_teacher_2'} %>
	</div>
	<div class="row2 transparent">F190*190</div>
	<div class="row4 transparent">G93*190</div>
	<div class="row2 transparent" style="width: 189px;">H190*190</div>
	<DIV style="float: left; width: 290px; height: 480px; margin: 0 4px 4px 0;">
	  <div class="row5 transparent">I290*290</div>
	  <div class="row3 transparent">L290*190</div>
	</DIV>
	<div class="row2 transparent">J190*190</div>
	 <div class="row6 transparent">K480*190</div>
	<div class="row7 transparent">M380*290</div>
	<div class="row5 transparent">N-5: 290*290</div>
	<div class="row2 transparent">O190*190</div>
	<div class="row2 transparent">P190*190</div>
	<div class="row5 transparent" style="width: 286px;">Q-5: 286*290</div>
	<div class="row3 transparent">R290*190</div>
	<div class="row7 transparent" style="margin-top: -98px; width: 384px;">S-7: 384*290</div>
	<div class="row2 transparent">T190*190</div>
	<div class="row4 transparent" style="width: 92px;">G-4: 92*190</div>
	<div class="row8 transparent" style="margin-top: -98px;">V290*290</div>
</div>