<% title [@page.title, "非凡艺术文化培训学校"].join(' - ') %>
<% meta_keywords [@page.meta_keywords, "非凡艺术文化培训学校"].join(' - ') %>
<% meta_description [@page.meta_description, "非凡艺术文化培训学校"].join(' - ') %>

<div id="page">
  <%#= @page.body.html_safe unless @page.body.blank?%>
  <%= simple_format @page.body.to_s.gsub(/^<br\/>|<p>/, '').html_safe unless @page.body.blank?%>
</div>

<%= render :partial => 'layouts/bshare' %>
