<div id="loginPan">
  <h2>189 8003 <span>9770</span></h2>
  <!-- <form action="" method="post">
  <label>Email Id</label><input name="email" type="text" id="email" />
  <label>Password</label><input name="pass" type="password" id="pass" />
  <input name="Input" type="submit" class="button" value="Login" />
  </form> -->
  <ul>
    <li class="nonregister">家长Q群：86682241</li>
    <li class="register"><a href="#">咨询QQ: 317099675</a> </li>
  </ul>
</div>
<div id="loginBottomPan">&nbsp;</div>

<p class="hours"><a href="#">24/7 hours</a></p>

<div id="servicesPan">&nbsp;</div>

  <div id="servicesBodyPan">
  <p class="services">Services</p>
  <p class="boldbrowntext">Morbi sodales ante a mauris. Vestibuc netmomaurisle </p>
  <p>quamsectetuer mauris et quam.odio loremsto, molestie ut, laoreet vitae, luctus vitae, nisi. Cur abitur nibh justo, tincidunt nec, tempor eget te, tincidunt amet, libero</p>
  <p class="bluetext">&quot;risus et orci. In sit amet purus ac maurisege egestas pharetra. Vivamus nibh. Vestibulum congue.&quot;</p>
  <p class="largebrowntext">tincidunt amet libero</p>
  <p class="link"><a href="#">click here to know more</a></p> 
  </div>
<div id="servicesBottomPan">&nbsp;</div>