<div id="footermainPan">
  <div id="footerPan">
    <div id="footerlogoPan"><a href="http://www.my-free-css-templates.com/previews/341/index.html"><img src="/assets/footerlogo.gif" title="Blog Division" alt="Blog Division" width="189" height="87" border="0"></a></div>
  <ul>
    <li><a href="./Blog Division_files/Blog Division.htm">Home</a>| </li>
    <li><a href="./Blog Division_files/Blog Division.htm">About Us</a> | </li>
    <li><a href="./Blog Division_files/Blog Division.htm">Company</a>| </li>
    <li><a href="./Blog Division_files/Blog Division.htm">Solutions</a> | </li>
    <li><a href="./Blog Division_files/Blog Division.htm">Partners</a> |</li>
  <li><a href="./Blog Division_files/Blog Division.htm">Client</a> |</li>
  <li><a href="./Blog Division_files/Blog Division.htm">Contact</a> </li>
  </ul>
  <p class="copyright">© 9blog division. All rights reserved.</p>
  <ul class="templateworld">
    <li>design by:</li>
  <li><a href="http://www.templateworld.com/" target="_blank">Template World</a></li>
  </ul>
  <ul class="validation">
    <li>Valid:</li>
  <li><a href="http://validator.w3.org/check?uri=referer" target="_blank">XHTML</a></li>
  <li> Valid:</li>
  <li><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">CSS</a></li>
  </ul>
  </div>
</div>