<div id="footermainPan">
  <div id="footerPan">
    <div id="footerlogoPan"><a href="http://www.my-free-css-templates.com/previews/341/index.html"><img src="/assets/footerlogo.gif" title="Blog Division" alt="Blog Division" width="189" height="87" border="0"></a></div>
  <ul>
    <li><a href="./Blog Division_files/Blog Division.htm">首页</a>| </li>
    <li><a href="./Blog Division_files/Blog Division.htm">关于我们</a> | </li>
    <li><a href="./Blog Division_files/Blog Division.htm">学校介绍</a>| </li>
    <li><a href="./Blog Division_files/Blog Division.htm">招生简章</a> | </li>
    <li><a href="./Blog Division_files/Blog Division.htm">师资团队</a> |</li>
  <li><a href="./Blog Division_files/Blog Division.htm">学员风采</a> |</li>
  <li><a href="./Blog Division_files/Blog Division.htm">联系我们</a> </li>
  </ul>
  <p class="copyright">© FFwhys.com. All rights reserved.</p>
  <ul class="templateworld">
    <li>网站建设:</li>
  <li><a href="http://www.inruby.com/" target="_blank">成都红宝石信息技术</a></li>
  </ul>
  <ul class="validation">
    <li>备案:</li>
  <li><a href="http://validator.w3.org/check?uri=referer" target="_blank">署92034045</a></li>
  <li> 2012-2015</li>
  <li><a href="#" target="_blank"></a></li>
  </ul>
  </div>
</div>