<div id="topPan">
  <div id="topHeaderPan">
    <ul>
    <li class="company">Company</li>
    <li><a href="./Blog Division_files/Blog Division.htm">Solutions</a></li>
    <li><a href="./Blog Division_files/Blog Division.htm">Partners</a></li>
    <li class="client"><a href="./Blog Division_files/Blog Division.htm">Client </a></li>
  </ul>
  
   
    <a href="http://www.my-free-css-templates.com/previews/341/index.html"><img src="./Blog Division_files/logo.jpg" title="Blog Division" alt="Blog Division" width="191" height="84" border="0"></a> </div>
<div id="toprightPan">
  <ul>
    <li class="home">Home</li>
    <li class="about"><a href="./Blog Division_files/Blog Division.htm">About us</a></li>
    <li class="contact"><a href="./Blog Division_files/Blog Division.htm">contact</a></li>
  </ul>
</div>
</div>
