<div id="topPan">
  <div id="topHeaderPan">
    <ul>
    <li class="company">非凡艺术</li>
    <li><a href="/pages/about">关于画室</a></li>
    <li><a href="/news_cates/subject">行业新闻</a></li>
    <li><a href="/news_cates/news">教学动态</a></li>
    <li><a href="/news_cates/student">学员风采</a></li>
    <li><a href="/news_cates/team">师资团队</a></li>
    <li class="client"><a href="/pages/join">招生咨询</a></li>
  </ul>
  
  <a href="http://www.my-free-css-templates.com/previews/341/index.html"><img src="/assets/logo.jpg" title="Blog Division" alt="Blog Division" border="0"></a> 
  </div>
  <div id="toprightPan">
    <ul>
      <li class="home"><a href="/">返回首页</a></li>
      <li class="about"><a href="/pages/about">关于非凡</a></li>
      <li class="contact"><a href="/contact">联系我们</a></li>
    </ul>
  </div>
</div>
